aside {
  height: calc(100vh - 120px);
}

.sidebar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 60px;
  height: 60px;
  padding: 15px;

  @media (max-width: 768px) {
    display: block;
  }
}
