ud-content-header-component {
  height: 40px;
  margin-top: 60px;

  a {
    display: inline-block;
    margin-left: -10px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 40px;
  }
}

ud-content-component {
  margin-top: 15px;
  margin-bottom: 80px;
  padding: 60px 30px;
}

.not-found {
  text-align: center;

  svg {
    width: 150px; 
    height: 150px;
  }

  h2 {
    margin: 20px 0 0;
    font-size: 40px;
  }
}
