:host {
  &::before,
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

ud-sidebar-component {
  float: left;
  height: 100vh;
}

main {
  float: left;
  height: 100vh;
  width: calc(100% - 350px);
  overflow-y: scroll;
  overflow-x: hidden;
}