:host {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}

.avatar-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
  }
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c14747;

  &.active {
    background-color: #49c147;
  }
}
